<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.OA.dao.activiti.SalaryAdjustMapper" >

  <resultMap id="BaseResultMap" type="com.example.OA.model.activiti.SalaryAdjust" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="application" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="adjustMoney" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="processInstanceId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, application, adjustMoney, create_time, update_time,
    processInstanceId, status, description
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from salaryadjust
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from salaryadjust
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.example.OA.model.activiti.SalaryAdjust" useGeneratedKeys="true" keyProperty="id">
    insert into salaryadjust (id, application, adjustMoney, create_time,
      update_time, processInstanceId, status, 
      description)
    values (#{id,jdbcType=INTEGER}, #{application,jdbcType=INTEGER}
    , #{adjustmoney,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{processinstanceid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.OA.model.activiti.SalaryAdjust" useGeneratedKeys="true" keyProperty="id">
    insert into salaryadjust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="application != null" >
        application,
      </if>

      <if test="adjustmoney != null" >
        adjustMoney,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="processinstanceid != null" >
        processInstanceId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="application != null" >
        #{application,jdbcType=INTEGER},
      </if>

      <if test="adjustmoney != null" >
        #{adjustmoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processinstanceid != null" >
        #{processinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.OA.model.activiti.SalaryAdjust" >
    update salaryadjust
    <set >
      <if test="application != null" >
        application = #{application,jdbcType=INTEGER},
      </if>

      <if test="adjustmoney != null" >
        adjustMoney = #{adjustmoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processinstanceid != null" >
        processInstanceId = #{processinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.OA.model.activiti.SalaryAdjust" >
    update salaryadjust
    set application = #{application,jdbcType=INTEGER},
      adjustMoney = #{adjustmoney,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      processInstanceId = #{processinstanceid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!-- ==================================-->
  <select id="getByApplicationOrStatus" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from salaryadjust
    <where>
      <if test="application != null">
       and application = #{application}
      </if>
      <if test="status != null">
      and  status = #{status}
      </if>
    </where>
  </select>
</mapper>